* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow-y: hidden;
    background: linear-gradient(135deg, #153677, #4e085f);
    font-family: sans-serif;
}

.to-app {
    max-width: 540px;
    background: #fff;
    margin: 300px auto 20px;
    padding: 40px 30px 50px;
    border-radius: 10px;
}

.to-app h2 {
    color: #002765;
    text-align: center;
    margin-bottom: 20px;
}

.to-app h2 img {
    width: 30px;
    margin-left: 10px;
}

.to-app .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.to-app .row input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 14px;
}

.to-app .row button {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    border-radius: 40px;
    cursor: pointer;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    padding-left: 10px;
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    color: #555;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    text-align: center;
    transition: all 0.5s;
}

ul li span:hover {
    background: #edeef0;
    border-radius: 50%;
    cursor: pointer;
}